
@{
    Layout = null;
}
@inject 


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>h1</h1>
    <p>王欢的第一个作品</p>
</body>
</html>
