@page
@model beginner.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>


<p> Enter  your name:</p>
<form method="post">
    <div asp-validation-summary="All; "></div>
    <div>Name:<input asp-for="User.Name" /></div>

    <input type="submit" />
</form>