@page "{id:int}"
@model beginner.Pages.editModel
@{
    ViewData["Title"] = "edit";
}

<h2>edit User - @Model.user.Id </h2>


<form method="post">

    <div asp-validation-summary="All">
    <input asp-for="user.Id" type="hidden" />
        <div>

            <label asp-for=" user.Name"></label>


            </div>

         <input asp-for="user.Name" />
        <span  asp-validation-for="user.Name"></span>
</div>

    <div>
        <button type ="submit">编辑</button>
    </div>


</form>